<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css">
        <style>

        </style>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/db/">Drafts</a></li>
                    <li><a class="Menu--right" href="/db/q">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="Content container">
            <h1>{{Title}}</h1>
            {{content}}
        </div>
    </body>
</html>